Source: libdbi
Section: devel
Priority: extra
Maintainer: Joshua Lamos <jlamos@georgialibraries.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Homepage: http://libdbi.sourceforge.net

Package: libdbi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libdbi implements a database-independent abstraction layer in C, similar to the DBI/DBD layer in Perl
 With libdbi Writing one generic set of code, 
 programmers can leverage the power of multiple 
 databases and multiple simultaneous database 
 connections by using this framework.
