Source: opensrf
Section: devel
Priority: extra
Maintainer: Joshua Lamos <jlamos@georgialibraries.org>
Build-Depends: libc6 (>= 2.3), libmemcached5 (>= 0.33), libncurses5 (>= 5.7+20100313), libreadline5 (>= 5.2), libxml2 (>= 2.7.4), debconf (>= 0.5), debhelper (>= 7.0.50~), autotools-dev, autoconf, automake, build-essential, libexpat1-dev, libgcrypt11-dev, libgdbm-dev, libperl-dev, libreadline5-dev, libxml2-dev, libxslt1-dev, python-dev, zlib1g-dev
Standards-Version: 3.8.4
Homepage: http://open-ils.org

Package: opensrf
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2-mpm-prefork, ejabberd, less, libapache2-mod-perl2, libcache-memcached-perl, libclass-dbi-sqlite-perl, libdatetime-format-builder-perl, libdatetime-format-mail-perl, libdatetime-perl, libdatetime-timezone-perl, liberror-perl, libfile-find-rule-perl, libfreezethaw-perl, liblog-log4perl-perl, libmodule-build-perl, libnet-jabber-perl, librpc-xml-perl, libtemplate-perl, libtest-pod-perl, libtie-ixhash-perl, libtool, libuniversal-require-perl, libunix-syslog-perl, libwww-perl, libxml-libxml-perl, libxml-libxslt-perl, libxml-simple-perl, memcached, ntpdate, pkg-config, psmisc, python-libxml2, python-setuptools, libdatetime-format-iso8601-perl, libjson-xs-perl, libnet-server-perl, libmemcached5, libmemcached-tools, libxml-libxml-perl, libxml-libxslt-perl
Description: OpenSRF Message Routing Network
 Open Service Request Framework (OpenSRF, pronounced "open surf")
 OpenSRF is a message routing network that offers scalability and
 failover support for individual services and entire servers with
 minimal development and deployment overhead.
